<!DOCTYPE html>
<html lang="ko" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mini Adnetwork</title>
        <link rel="stylesheet" href="/asset/css/common">
    </head>
    <body>
        <div class="">
            <div class="" align="center">
                <b>Welcome, Mini Adnetwork!</b>
            </div>
            <div class="">
                <button class="btn_dft" type="button" name="button" onclick="getPage('content')">Content</button><br>
                <button class="btn_dft" type="button" name="button" onclick="getPage('advert')">Advert</button><br>
                <button class="btn_dft" type="button" name="button" onclick="getPage('sample')">Sample</button><br>
            </div>
        </div>
        <script src="/asset/javascript/common"></script>
    </body>
</html>
