<!DOCTYPE html>
<html lang="ko" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sample</title>
    </head>
    <body>
        <div class="">
            <a href="/">Home</a><br><br>
            <b>Sample -Banner</b>
        </div><br>
        <div class="">
            <b>Content Key: </b>
            <input type="text" name="" value="" id="ctt_key" placeholder="64bytes or less">

            <b>Banner Size: </b>
            <select class="" name="" id="art_kind">
                <option value="1">640 * 100</option>
            </select>
            <button type="button" name="button" onclick="getBanner();">Insert</button>
        </div>
        <div class="" id="sam_ban_akd1">
        </div>
        <script src="/asset/javascript/common"></script>
        <script src="/asset/javascript/sample"></script>
    </body>
</html>
