<!DOCTYPE html>
<html lang="ko" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sample</title>
        <link rel="stylesheet" href="/asset/css/common">
    </head>
    <body>
        <div class="icon-home" onclick="getPage();">
            <div class="home-body" style="background-color: dodgerBlue"></div>
            <div class="home-roof-cut-left"></div>
            <div class="home-roof-cut-right"></div>
            <div class="home-door"></div>
            <div class="home-chimney" style="background-color: dodgerBlue"></div>
            <div class="home-roof-container">
                <div class="home-roof-left" style="background-color: dodgerBlue"></div>
                <div class="home-roof-right" style="background-color: dodgerBlue"></div>
            </div>
        </div>

        <div class="" align="center">
            <b>Sample -Banner</b>
        </div><br>
        <div class="">
            <b>Content Key: </b>
            <input type="text" name="" value="" id="ctt_key" placeholder="64bytes or less"><br>

            <b>Banner Size: </b>
            <select class="" name="" id="art_kind">
                <option value="1">640 * 100</option>
            </select><br>

            <button class="btn_dft" type="button" name="button" onclick="getBanner();">Get Banner</button>
        </div>
        <div class="" id="sam_ban_akd1">
        </div>
        <script src="/asset/javascript/common"></script>
        <script src="/asset/javascript/sample"></script>
    </body>
</html>
